@tailwind base;
@tailwind components;
@tailwind utilities;


@import "theme.scss";
@import "main_video";

.body {
  height: 100%;
  width: 100%;
}

.footer > div {
  background-color: $color-dark;
  padding: 0;
}

.footer-title {
  background-color: $color-dark;
}

.width-45 {
  width: 45%;
}

.width-30 {
  width: 30%;
}

.fill-grey {
  background-color: $color-grey;
}

.text-light-grey {
  color: $color-grey-real
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
