@tailwind base;
@tailwind components;
@tailwind utilities;


@import "theme.scss";
@import "main_video";

.body {
  height: 100%;
  width: 100%;
}

.footer > div {
  background-color: $color-dark;
  padding: 0;
}

.footer-title {
  background-color: $color-dark;
}

.width-45 {
  width: 45%;
}

.width-30 {
  width: 30%;
}

