$color-dark: #000103;
$color-light: #c0ccda;
$color-grey: #F3F3F3;
$color-grey-real: #CCCCCC;

$theme-colors: (
  'light': $color-light,
  'dark': $color-dark,
);

$blur-radius: 8px;
$blur-color: rgba(45, 44, 44, 0.15);